@font-face {
    font-family: 'Marker';
    src: url('/Assets/fonts/123Marker.ttf');
}

@font-face {
    font-family: 'Old Fonts';
    src: url('/Assets/fonts/1942.ttf');
}

@font-face {
    font-family: 'Abril-Regular';
    src: url('/Assets/fonts/AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: 'Alhenya Script';
    src: url('/Assets/fonts/Alhenya\ Script.ttf');
}

@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('/Assets/fonts/AmaticSC-Regular.ttf');
}

@font-face {
    font-family: 'Arizonia-Regular';
    src: url('/Assets/fonts/Arizonia-Regular.ttf');
}

@font-face {
    font-family: 'atwriter';
    src: url('/Assets/fonts/atwriter.ttf');
}

@font-face {
    font-family: 'Autery';
    src: url('/Assets/fonts/Autery.otf');
}

@font-face {
    font-family: 'beauty angelique';
    src: url('/Assets/fonts/beauty\ angelique.ttf');
}

@font-face {
    font-family: 'BebasKai';
    src: url('/Assets/fonts/BebasKai.ttf');
}

@font-face {
    font-family: 'BerkshireSwash-Regular';
    src: url('/Assets/fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
    font-family: 'Bungasai';
    src: url('/Assets/fonts/Bungasai.ttf');
}

@font-face {
    font-family: 'calibri';
    src: url('/Assets/fonts/calibri.ttf');
}

@font-face {
    font-family: 'ChopinScript';
    src: url('/Assets/fonts/ChopinScript.ttf');
}

@font-face {
    font-family: 'CinzelDecorative-Black';
    src: url('/Assets/fonts/CinzelDecorative-Black.otf');
}

@font-face {
    font-family: 'CinzelDecorative-Regular';
    src: url('/Assets/fonts/CinzelDecorative-Regular.otf');
}

@font-face {
    font-family: 'courier';
    src: url('/Assets/fonts/courier.ttf');
}

@font-face {
    font-family: 'Florence-Regular';
    src: url('/Assets/fonts/Florence-Regular.ttf');
}

@font-face {
    font-family: 'GOTHIC';
    src: url('/Assets/fonts/GOTHIC.TTF');
}

@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('/Assets/fonts/KaushanScript-Regular.ttf');
}

@font-face {
    font-family: 'MB Ahmed Soomro SK';
    src: url('/Assets/fonts/MB Ahmed Soomro SK 2.0.ttf');
}

@font-face {
    font-family: 'MB Halai';
    src: url('/Assets/fonts/MB\ Halai\ Shabir\ Kumbhar\ 2.0.ttf');
}

@font-face {
    font-family: 'MB Khursheed SK';
    src: url('/Assets/fonts/MB\ Khursheed\ SK\ 2.0.ttf');
}

@font-face {
    font-family: 'MB Kufi SK';
    src: url('/Assets/fonts/MB\ Kufi\ SK\ 2.0.ttf');
}

@font-face {
    font-family: 'MB Leekyal Shabir Kumbhar';
    src: url('/Assets/fonts/MB\ Leekyal\ Shabir\ Kumbhar\ 2.0.ttf');
}

@font-face {
    font-family: 'MB Sookhri Shabir Kumbhar';
    src: url('/Assets/fonts/MB\ Sookhri\ Shabir\ Kumbhar\ 2.0.ttf');
}

@font-face {
    font-family: 'MBLateefi';
    src: url('/Assets/fonts/MBLateefi.otf');
}

@font-face {
    font-family: 'MBSindhiWeb';
    src: url('/Assets/fonts/MBSindhiWeb.otf');
}

@font-face {
    font-family: 'Photograph Signature';
    src: url('/Assets/fonts/Photograph\ Signature.ttf');
}

@font-face {
    font-family: 'talldark';
    src: url('/Assets/fonts/talldark.ttf');
    
}

@font-face {
    font-family: 'Title Wave Regular';
    src: url('/Assets/fonts/Title\ Wave\ Regular.ttf');
}

@font-face {
    font-family: 'UrdType';
    src: url('/Assets/fonts/UrdType.ttf');
}

@font-face {
    font-family: 'UrdTypeb';
    src: url('/Assets/fonts/UrdTypeb.ttf');
}

