*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
#fullpost{
    max-width: 100vw;
    height: fit-content;
    /* height: 1000px; */
    padding: 300px 0;
    background-color: rgb(0, 0, 0);
}


 .name{
    /* background-color: rgb(24, 24, 24); */
    /* width: 90%; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 30px; */
    /* box-shadow: 2px 2px 5px 0px rgb(204, 204, 204); */

    
} 
.name img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
    border:6px solid rgb(231, 231, 231);
    
    
}
/* .name h2{
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
    color: green;
} */

/* .name .id{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    font-size: 10px;
} */


.name #post{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    /* width: fit-content; */
    max-width: 100%;
    /* width: 90%; */
    text-align: center;
    /* margin: 20px 10px; */
    font-size: 16px;
    font-weight: 400;
    padding: 100px 0px;
    /* background-color: rgb(243, 243, 243); */
    /* border-radius: 10px; */
    /* border:1px solid rgb(226, 226, 226); */
    word-wrap: break-word;
    /* margin-top: 200px; */
    

}

#data{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#data h2{
    margin: 20px;
}

#info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}


/* 
#information{
margin-left: 15px;
} 
*/

#textTransform, #textAlign, #fontSize, #fontWeight, #statusWidth {
    padding: 6px;
}

textarea{
min-width: 200px;
width: 90%;
min-height: 200px;
}

#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#buttons>div{
 margin: 10px;
}

#fontColor, #statusColor{
    border: 1px solid grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: center;
    width: 80px;
    padding: 5px;
}