@import url('/CSS/fonts.css');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
#fullpost{
    max-width: 100vw;
    height: fit-content;
    /* height: 1000px; */
    padding: 300px 0;
    background-color: rgb(0, 0, 0);
    background:url(/Assets/annie-spratt-OthPgcYCHfc-unsplash.jpg) ;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    background-blend-mode: screen;
}


 .name{
    /* background-color: rgb(24, 24, 24); */
    /* width: 90%; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 30px; */
    /* box-shadow: 2px 2px 5px 0px rgb(204, 204, 204); */

    
} 
.name img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
    border:6px solid rgb(231, 231, 231);
    
    
}
/* .name h2{
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
    color: green;
} */

/* .name .id{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    font-size: 10px;
} */


.name #post{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    /* width: fit-content; */
    max-width: 100%;
    /* width: 90%; */
    text-align: center;
    /* margin: 20px 10px; */
    font-size: 16px;
    font-weight: 400;
    padding: 100px 0px;
    /* background-color: rgb(243, 243, 243); */
    /* border-radius: 10px; */
    /* border:1px solid rgb(226, 226, 226); */
    word-wrap: break-word;
    /* margin-top: 200px; */    font-family: 'UrdType';










}

#data{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
#data h2{
    margin: 20px;
}

#info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}


/* 
#information{
margin-left: 15px;
} 
*/

#textTransform, #textAlign, #fontSize, #fontWeight, #statusWidth, #fontFamily {
    padding: 6px;
}

textarea{
min-width: 200px;
width: 90%;
min-height: 200px;
font-size: 20px;
font-family: calibri;
}

#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#buttons>div{
 margin: 10px;
}
#buttons option{
    padding: 10px;
    margin: 20px;
    font-size: 30px;
}

#fontColor, #statusColor{
    border: 1px solid grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: center;
    width: 80px;
    padding: 5px;
}

#marker{
    font-family: marker;
}

#oldfonts {
    font-family: 'Old Fonts';
}

#abril {
    font-family: 'Abril-Regular';
}

#alhenya{
    font-family: 'Alhenya Script';
}

#Amatic {
    font-family: 'AmaticSC-Regular';
}

#Arizonia {
    font-family: 'Arizonia-Regular';
}

#atwriter {
    font-family: 'atwriter';
}

#Autery {
    font-family: 'Autery';
}

#beauty {
    font-family: 'beauty angelique';
}

#BebasKai {
    font-family: 'BebasKai';
}

#BerkshireSwash-Regular {
    font-family: 'BerkshireSwash-Regular';
}

#Bungasai {
    font-family: 'Bungasai';
}

#calibri {
    font-family: 'calibri';
}

#ChopinScript {
    font-family: 'ChopinScript';
}

#CinzelDecorative-Black {
    font-family: 'CinzelDecorative-Black';
}

#CinzelDecorative {
    font-family: 'CinzelDecorative-Regular';
}

#courier {
    font-family: 'courier';
}

#Florence-Regular {
    font-family: 'Florence-Regular';
}

#GOTHIC {
    font-family: 'GOTHIC';
}

#KaushanScript-Regular {
    font-family: 'KaushanScript-Regular';
}

#MBAhmedSoomroSK{
    font-family: 'MB Ahmed Soomro SK 2.0';
}

#MBHalaiShabirKumbhar {
    font-family: 'MB Halai Shabir Kumbhar 2.0';
}

#MBKhursheedSK {
    font-family: 'MB Khursheed SK 2.0';
}

#MBKufiSK {
    font-family: 'MB Kufi SK 2.0';
}

#MBLeekyalShabirKumbhar {
    font-family: 'MB Leekyal Shabir Kumbhar 2.0';
}

#MBSookhriShabirKumbhar {
    font-family: 'MB Sookhri Shabir Kumbhar 2.0';
}

#MBLateefi {
    font-family: 'MBLateefi';
}

#MBSindhiWeb {
    font-family: 'MBSindhiWeb';
}

#PhotographSignature {
    font-family: 'Photograph Signature';
}

#talldark {
    font-family: 'talldark';
}

#TitleWaveRegular {
    font-family: 'Title Wave Regular';
}

#UrdType {
    font-family: 'UrdType';
}

