@import url('/CSS/fonts.css');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
#fullpost{
    /* max-width: 100vw; */
    /* height: fit-content; */
    /* width: 100%; */
    /* height: 100%; */
    padding: 300px 0;
    background-size: auto 100%;
    background-color: rgb(20, 20, 20);
    /* background-image:url(/Assets/img/BG1.jpg) ; */
    background-position: center;
    background-size:cover;
    /* background-repeat: none; */
    background-attachment: fixed;
    /* background-blend-mode:; */
}
 
    

 .name{
    /* background-color: rgb(24, 24, 24); */
    /* width: 90%; */
    /* height: fit-content; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 30px; */
    /* box-shadow: 2px 2px 5px 0px rgb(204, 204, 204); */

    
} 
.name img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
    border:6px solid rgb(231, 231, 231);
    
    
}
/* .name h2{
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    font-size: 16px;
    color: green;
} */

/* .name .id{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(128, 128, 128);
    font-size: 10px;
} */


.name #post{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    /* background: url('https://source.unsplash.com/600x900/?nature,water'); */
    max-width: 100%;
    
    text-align: center;
    
    font-size: 16px;
    
    padding: 100px 0px;
    /* background-color: rgb(243, 243, 243); */
    /* border-radius: 10px; */
    /* border:1px solid rgb(226, 226, 226); */
    /* word-wrap: break-word; */
    /* margin-top: 200px; */    
    /* font-family: 'UrdType'; */
    line-height: 110%;










}

#data{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin: 20px; */

}
#data h2{
    margin: 20px;
}

#info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}


/* 
#information{
margin-left: 15px;
} 
*/

#textTransform, #textAlign, #fontSize, #fontWeight, #statusWidth, #fontFamily,#bgImg , #bgBlend {
    padding: 6px;
}

textarea{
min-width: 200px;
width: 90%;
min-height: 200px;
font-size: 20px;
font-family: calibri;
}

#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 0px 20px; */

}

#buttons>div{
 margin: 10px;
}
#buttons option{
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

#fontColor, #statusColor{
    border: 1px solid grey;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: center;
    width: 80px;
    padding: 5px;
}

#buttons, #data{
    background-color: rgba(202, 246, 80, 0.411);
    /* width: 90%; */
    /* margin: 20px; */
    padding: 10px;
}

body{
    background-color: rgba(255, 238, 0, 0.109);
}


#navbarid{
    display: flex;
    list-style-type: none;
    cursor: pointer;
    background-color: rgb(0, 60, 68);
    color: white;
}
#navbarid li{
    padding: 10px;
}
#navbarid li a{
    text-decoration: none;
    color: white;
}
#navbarid li:hover{
    padding: 10px;
    background-color: yellowgreen;
    /* font-weight: bold; */
    color: white;
}


#aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#aboutme h1{
    margin: 10px;
    text-transform: uppercase;
    background-color: rgb(247, 255, 180);
    padding: 20px;
    color: yellowgreen;
}

#aboutme p{
    margin: 10px;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    color: rgb(65, 65, 65);
    text-align: justify;
    width: 80%;
}





#howtouse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#howtouse h1{
    margin: 10px;
    text-transform: uppercase;
    background-color: rgb(247, 255, 180);
    padding: 20px;
    color: yellowgreen;
}

#howtouse div{
    margin: 10px;
    background-color: rgba(236, 236, 236, 0.363);
    border-radius: 10px;
    padding: 20px;
    color: rgb(65, 65, 65);
    text-align: justify;
    border:1px solid rgb(233, 233, 233);
    width: 80%;
}

#howtouse #question{
    background-color: rgb(251, 190, 190);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

#howtouse #answer{
    background-color: rgb(197, 251, 190);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    margin: 20px;
}


#btnwhtsp a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: rgb(248, 248, 185);
}
#btnwhtsp{
    text-align: center;
    display: grid;
    place-items: center;
}




footer{
    background-color: rgb(238, 238, 238);
    padding: 4px;
    text-align: center;
    font-size: 12px;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
}

.imagecontainer{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
    text-align: center;

}

.bgImg{
    background-color: rgb(255, 250, 209);
    /* padding: 10px; */
    /* margin: 10px; */
    width: 70%;
    text-align: center;
}

.bgImg input,.bgImg button{
    /* background-color: rgb(255, 250, 209); */
    padding: 5px;
    /* margin: 10px; */
    width: 80%;
    margin: 5px;

}
#hint{
    margin: 10px;
    text-align: center;
    background-color: rgb(245, 253, 135);
    padding: 10px;
    font-family: 'calibri';
    font-weight: 600;
    color: rgb(65, 64, 64);
}

img{

    width: 70%;
    max-width: 400px;
    height: auto;

}


.none{
    display: none;
}



#marker{
    font-family: 'marker';
}

#oldfonts {
    font-family: 'Old Fonts';
}

#abril {
    font-family: 'Abril-Regular';
}

#alhenya{
    font-family: 'Alhenya Script';
}

#Amatic {
    font-family: 'AmaticSC-Regular';
}

#Arizonia {
    font-family: 'Arizonia-Regular';
}

#atwriter {
    font-family: 'atwriter';
}

#Autery {
    font-family: 'Autery';
}

#beauty {
    font-family: 'beauty angelique';
}

#BebasKai {
    font-family: 'BebasKai';
}

#BerkshireSwash-Regular {
    font-family: 'BerkshireSwash-Regular';
}

#Bungasai {
    font-family: 'Bungasai';
}

#calibri {
    font-family: 'calibri';
}

#ChopinScript {
    font-family: 'ChopinScript';
}

#CinzelDecorative-Black {
    font-family: 'CinzelDecorative-Black';
}

#CinzelDecorative {
    font-family: 'CinzelDecorative-Regular';
}

#courier {
    font-family: 'courier';
}

#Florence-Regular {
    font-family: 'Florence-Regular';
}

#GOTHIC {
    font-family: 'GOTHIC';
}

#KaushanScript-Regular {
    font-family: 'KaushanScript-Regular';
}

#MBAhmedSoomroSK{
    font-family: 'MB Ahmed Soomro SK';
}

#MBHalaiShabirKumbhar {
    font-family: 'MB Halai';
}

#MBKhursheedSK {
    font-family: 'MB Khursheed SK';
}

#MBKufiSK {
    font-family: 'MB Kufi SK';
}

#MBLeekyalShabirKumbhar {
    font-family: 'MB Leekyal Shabir Kumbhar';
}

#MBSookhriShabirKumbhar {
    font-family: 'MB Sookhri Shabir Kumbhar';
}

#MBLateefi {
    font-family: 'MBLateefi';
}

#MBSindhiWeb {
    font-family: 'MBSindhiWeb';
}

#PhotographSignature {
    font-family: 'Photograph Signature';
}

#talldark {
    font-family: 'talldark';
}

#TitleWaveRegular {
    font-family: 'Title Wave Regular';
}

#UrdType {
    font-family: 'UrdType';
}

#SaremIqra {
    font-family: 'SaremIqra';
}



